{% extends "layout.html" %}

{% block head %}
    
{% endblock %}
{% block body %}
<h1>Editing message</h1>

<a href="{{ url_for('thread', thread_id=message.thread_id) }}">Back to thread</a>

<form method="POST" action="{{ url_for('message_edit', message_id=message.id) }}">
<table>
  <tr>
      <td>{{ form.text.label }}</td>
      <td>{{ form.text }}</td>
      <td>
          <ul>
          {% for error in form.text.errors %}
          <li>{{ error }}</li>
          {% endfor %}
          </ul>
      </td>
  </tr>
  <tr>
      <td colspan="2">
          <input type="submit" value="Submit"/>
      </td>
  </tr>
</table>
</form>
<form method="POST" action="{{ url_for('message_delete', message_id=message.id) }}">
  <input type="submit" value="Delete message"/>
</form>
{% endblock %}
