{% extends "layout.html" %}

{% block head %}
    
{% endblock %}
{% block body %}
<table>
  <tr>
    <th>Message</th>
    <th>Time</th>
    <th>Edit</th>
  </tr>
  {% for message in messages %}
  <tr>
    <td>{{ message.text }}</td>
    <td>{{ message.date_posted }}</td>
    <td><a href="{{ url_for('message_edit', message_id=message.id) }}">Edit message</a></td>
  </tr>
  {% endfor %}
</table>

<form method="POST" action="{{ url_for('message_create') }}">
  <input type="text" name="text"/>
  <input type="submit" value="Post message!"/>
</form>
{% endblock %}