{% extends "layout.html" %}

{% block body %}

<h1>Tags</h1>

<table class="table">
  <tr class="border border-success bg-success text-light">
    <th>Tag</th>
    {% if current_user.admin %}
    <th>Delete</th>
    {% endif %}
  </tr>
  {% for tag in tags %}
  <tr class="border-left border-right border-bottom border-top-0">
    <td><a href="{{ url_for('thread_find_tag_id', tag_id=tag.id) }}">{{ tag.name }}</a></td>
    {% if current_user.admin %}
    <td>
      <form method="POST" action="{{ url_for('tag_delete', tag_id=tag.id) }}">
        <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% if current_user.admin %}
<div class="mt-4 mb-4">  
  <form class="form-inline" method="POST" action="{{ url_for('tag_create') }}">
    <div class="container border border-success bg-success p-1">
      <input type="text" class="form-control-sm" name="name" placeholder="Tag" value="{{ tag_create.name }}"></input>
      <button type="submit" class="btn btn-secondary btn-sm">Create tag</button>
    </div>

    <div class="container border border-success border-top-0 bg-success text-light">
      
      {% if show_errors %}
      {% for error in tag_create.errors(new=True) %}
      <div><h>{{ error }}</h></div>
      {% endfor %}
      {% endif %}
    </div>
  </form>
</div>
{% endif %}

{% endblock %}