{% extends "layout.html" %}

{% block head %}
    
{% endblock %}
{% block body %}

{% if search_text is defined %}
<h1>Threads matching "{{ search_text }}"</h1>
{% else %}
<h1>Forum index</h1>
{% endif %}

<table>
  <tr>
    <th>Subject</th>
    <th>Time</th>
    <th>Edit</th>
  </tr>
  {% for thread in threads %}
  <tr>
    <td><a href="{{ url_for('thread', thread_id=thread.id) }}">{{ thread.subject }}</a></td>
    <td>{{ thread.date_created }}</td>
    <td>
      <form method="POST" action="{{ url_for('thread_edit_form', thread_id=thread.id) }}">
        <input type="submit" value="Edit"/>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<form method="POST" action="{{ url_for('thread_create_form') }}">
  <input type="submit" value="Create new thread"/>
</form>

<form method="POST" action="{{ url_for('thread_search_post') }}">
<table>
  <tr>
    <td>{{ thread_search_form.search_text }}</td>
    <td>
      <input type="submit" value="Search threads"/>
    </td>
    <td>
      <ul>
      {% for error in thread_search_form.search_text.errors %}
      <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </td>
  </tr>
</table>
</form>
{% endblock %}