{% extends "layout.html" %}

{% block body %}
<div class="mt-4 mb-4">
<h1>{{ thread.subject }}</h1>
<h>Posted by {{ thread.user.username }} on {{ thread.date_created }}</h>
</div>

<div class="mt-4 mb-4">
  <div class="container border border-success bg-success text-light p-1">
    <div class="mt-1 mb-1 ml-2 mr-2 float-left"><h>Tags:</h></div>

    {% for tag in tags %}
    <div class="float-left pb-1 pl-1">
      <form method="GET" action="{{ url_for('thread_find_tag_id', tag_id=tag.id) }}">
        <button type="submit" class="btn btn-secondary btn-sm">{{ tag.name }}</button>
      </form>
    </div>
    {% endfor %}
    
    <div class="row justify-content-end">  
      {% if other_tags|length > 0 %}
      <form method="POST" action="{{ url_for('tagging_create', thread_id=thread.id) }}">
        <div class="float-right pl-1">
          <button type="submit" class="btn btn-secondary btn-sm">Tag</button>
        </div>

        <div class="float-right pl-1">
          <select class="form-control-sm" name="id">
            {% for tag in other_tags %}
            <option value="{{ tag.id }}">{{ tag.name }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
      {% endif %}

      {% if thread_edit == None %}
        {% if current_user.admin or current_user.id==thread.user.id %}
        <div class="float-right pl-1">
            <form method="GET" action="{{ url_for('thread_edit', thread_id=thread.id) }}">
              <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
            </form>
          </div>
        </div>
        {% endif %}
      {% else %}
        {% if current_user.admin or (current_user.id==thread.user.user_id and thread.messages==0) %}
        <div class="float-right pl-1">
          <form method="POST" action="{{ url_for('thread_delete', message_id=message.id) }}">
            <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
          </form>
        </div>
        {% endif %}

        <div class="float-right pl-1">
          <form method="GET" action="{{ url_for('thread', thread_id=thread.id) }}">
            <button type="submit" class="btn btn-secondary btn-sm">Cancel</button>
          </form>
        </div>
      {% endif %}
  </div>

  {% if thread_edit == None %}
  <div class="container border border-success border-top-0">
    <p class="p-1" style="white-space:pre-wrap">{{ thread.text }}</p>
  </div>
  {% else %}
  <form method="POST" action="{{ url_for('thread_edit', thread_id=thread.id) }}">
    <div class="container border border-success border-top-0 bg-success">
      <textarea class="form-control" name="text" rows="7">{{ thread_edit.text }}</textarea>
    </div>

    <div class="container border border-success border-top-0 bg-success text-light p-1">
      <div class="text-left text-light">
        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
      </div>

      {% for error in thread_edit.errors() %}
      <div><h>{{ error }}</h></div>
      {% endfor %}
    </div>
  </form>
  {% endif %}
  
</div>

{% for message in messages %}
<div class="mt-4 mb-4" id="{{ message.id }}">
  <div class="container border border-success bg-success text-light p-1">
    <div class="mt-1 mb-1 ml-2 mr-2 float-left">
      <h>{{ message.user.username }} on {{ message.date_created }}</h>
    </div>
    
    {% if message.id==message_edit.id %}
    <div class="float-right pl-1">
      <form method="POST" action="{{ url_for('message_delete', message_id=message.id) }}">
        <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
      </form>
    </div>

    <div class="text-right pl-1">
      <form method="GET" action="{{ url_for('thread', thread_id=thread.id, _anchor=message.id) }}">
        <button type="submit" class="btn btn-secondary btn-sm">Cancel</button>
      </form>
    </div>
    {% else %}
      {% if current_user.admin or current_user.id==message.user.id %}
      <div class="text-right pl-1">
        <form method="GET" action="{{ url_for('message_edit', message_id=message.id, _anchor=message.id) }}">
          <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
        </form>
      </div>
      {% endif %}
    {% endif %}
  </div>

  {% if message.id==message_edit.id %}
  <form method="POST" action="{{ url_for('message_edit', message_id=message.id) }}">
    <div class="container border border-success border-top-0 bg-success">
      <textarea class="form-control" name="text" rows="7">{{ message_edit.text }}</textarea>
    </div>

    <div class="container border border-success border-top-0 bg-success text-light p-1">
      <div class="text-left text-light">
        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
      </div>

      {% for error in message_edit.errors() %}
      <div><h>{{ error }}</h></div>
      {% endfor %}
    </div>
  </form>
  {% else %}
  <div class="container border border-success border-top-0">
    <p class="p-1" style="white-space:pre-wrap">{{ message.text }}</p>
  </div>
  {% endif %}

</div>
{% endfor %}

<div class="mt-4 mb-4">
  <div class="container border border-success bg-success text-light p-1">
    <div class="mt-1 mb-1 ml-2 mr-2 text-left">
      <h>New message</h>
    </div>
  </div>

  <form method="POST" action="{{ url_for('message_create', thread_id=thread.id) }}">
    <div class="container border border-success border-top-0 bg-success">
      <textarea class="form-control" name="text" rows="7">{{ message_create.text }}</textarea>
    </div>

    <div class="container border border-success border-top-0 bg-success text-light p-1">
      <div class="text-left text-light">
        <button type="submit" class="btn btn-secondary btn-sm">Post message</button>
      </div>

      {% if show_errors %}
      {% for error in message_create.errors(new=True) %}
      <div><h>{{ error }}</h></div>
      {% endfor %}
      {% endif %}
    </div>
  </form>
</div>


{% endblock %}